@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Exo+2:wght@600;700&family=Prompt:wght@100;500;700&family=Source+Code+Pro&display=swap');

/* UNIVERSAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  color: #000;
  background-color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  margin: 25px;
}

/* STYLE CUSTOMIZE BORDER IN SMALLEST NAVBAR */
.bd-left {
  display: none;
}

/* HEADER STYLE */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header > a {
  display: inline-block;
  width: 250px;
  height: auto;
  margin-left: 80px;
}

header a img {
  width: 100%;
  height: 100%;
}

nav {
  width: 550px;
}

nav ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

nav ul li a {
  display: inline-block;
  padding: 6px 22px 10px;
  text-decoration: none;
  color: #000;
  font-family: "Average Sans";
  font-size: 18px;
}

nav li > a:hover,
nav li > a.active {
  cursor: pointer;
  border-bottom: 1px #000 solid;
}

/* MAIN STYLE */
main {
  height: 60vh;
}

.information {
  margin: 50px 80px 0px;
  padding: 10px;
  width: fit-content;
  background-color: rgba(255, 251, 0, 0.4);
}

.information img {
  width: 12px;
  height: auto;
}

strong {
  color: blue;
}

.information p {
  font-family: 'Average Sans';
  font-size: 14px;
}

.undername-style {
  width: fit-content;
  margin: 25px auto;
  position: relative;
}

.undername-style h1 {
  font-family: "Exo 2";
  font-weight: 700;
  font-size: 38px;
  z-index: 1;
}

.undername {
  width: 310px;
  height: 25px;
  background-color: #7fcd91;
  border-radius: 20px;
  position: absolute;
  top: 25px;
  left: 40px;
  z-index: -999;
}

.project-column {
  background-color: #e5ffe3;
  padding: 2px;
  border-radius: 20px;
}

.project-header ul {
  list-style: none;
  background-color: #c58940;
  border-radius: 20px;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.p-name,
.p-category,
.p-date {
  text-align: center;
  line-height: 3;
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 16px;
}

.p-name {
  flex-grow: 3;
}

.p-category {
  flex-grow: 1;
}

.p-date {
  flex-grow: 1;
}

.bd-left-col {
  display: inline-block;
  width: 2px;
  height: 25px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: #825a2a;
}

.project-list {
  display: flex;
  flex-direction: column;
}

.project-list ul {
  list-style: none;
}

/* LIST OF A PROJECT (ADD NEW) */
.list-1,
.list-2 {
  display: flex;
  flex-direction: row;
  font-family: 'Soruce Code Pro';
  color: rgb(60, 15, 210);
}

.project-list > a {
  text-decoration: none;
  color: #000;
  padding: 8px 0;
  margin: 14px 0 0;
  border-radius: 20px;
}

.project-list > a:hover {
  background-color: #c4dbc2;
  cursor: pointer;
}

/* LIST 1 */
.p-name-1,
.p-category-1,
.p-date-1 {
  text-align: center;
  font-size: 12px;
}

.p-name-1 {
  flex-grow: 3;
}

.p-category-1 {
  flex-grow: 1.4;
}

.p-date-1 {
  flex-grow: 1.3;
}

/* LIST 2 */
.p-name-2,
.p-category-2,
.p-date-2 {
  text-align: center;
  font-size: 12px;
}

.p-name-2 {
  flex-grow: 3.1;
}

.p-category-2 {
  flex-grow: 1.2;
}

.p-date-2 {
  flex-grow: 1.2;
}

/* LIST 3 */

/* FOOTER STYLE */
footer {
  width: 100%;
  height: 30px;
  background-color: #7fcd91;
  margin-top: 0px;
}

footer p {
  font-family: "Average Sans";
  font-size: 10px;
  text-align: center;
  line-height: 3;
}

@media (min-width: 1440px) {
  header,
  main {
    max-width: 2000px;
    margin: 0 auto;
  }

  header > a {
    width: 350px;
    height: auto;
  }

  nav {
    width: 650px;
  }

  nav ul li a {
    font-size: 25px;
    padding: 8px 24px 10px;
  }

  main {
    margin-top: 50px;
  }

  /* MAIN STYLE */
  .information {
    padding: 25px;
  }

  .information img {
    width: 20px;
    height: auto;
  }

  .information p {
    font-size: 20px;
  }

  .undername-style {
    margin: 50px auto;
  }

  .undername-style h1 {
    font-size: 50px;
  }

  .undername {
    width: 415px;
    height: 35px;
    top: 34px;
    left: 50px;
  }

  .project-header ul {
    height: 60px;
  }

  .p-name,
  .p-category,
  .p-date {
    line-height: 2.4;
    font-size: 24px;
  }

  .bd-left-col {
    width: 3px;
    height: 28px;
    margin-top: 14px;
  }

  /* LIST OF A PROJECT (ADD NEW) */
  .list-1,
  .list-2 {
    display: flex;
    flex-direction: row;
  }

  .project-list > a {
    text-decoration: none;
    color: #000;
    padding: 8px 0;
    margin: 14px 0 0;
    border-radius: 20px;
  }

  /* LIST 1 */
  .p-name-1,
  .p-category-1,
  .p-date-1 {
    font-size: 18px;
  }

  /* LIST 2 */
  .p-name-2,
  .p-category-2,
  .p-date-2 {
    font-size: 18px;
  }

  /* LIST 3 */

  /* FOOTER STYLE */
  footer {
    height: 60px;
  }

  footer p {
    font-size: 14px;
    line-height: 4;
  }
}

@media (max-width: 1024px) {
  /* HEADER STYLE */
  header > a {
    margin-left: 10px;
    width: 220px;
  }

  nav {
    width: 420px;
  }

  nav ul li a {
    padding: 5px 18px 9px;
    font-size: 14px;
  }

  /* MAIN STYLE */
  .information {
    margin: 50px 10px 0px;
  }

  .undername-style {
    margin: 25px auto;
  }

  .undername-style h1 {
    font-size: 34px;
  }

  .undername {
    width: 280px;
    height: 22px;
    top: 24px;
    left: 35px;
  }

  .project-header ul {
    height: 40px;
  }

  .p-name,
  .p-category,
  .p-date {
    line-height: 2.6;
    font-size: 15px;
  }

  .bd-left-col {
    width: 2px;
    height: 20px;
    margin-top: 9px;
  }

  /* LIST OF A PROJECT (ADD NEW) */
  .project-list > a {
    padding: 7px 0;
    margin: 13px 0 0;
  }

  /* LIST 1 */
  .p-name-1,
  .p-category-1,
  .p-date-1 {
    font-size: 11px;
  }

  /* LIST 2 */
  .p-name-2,
  .p-category-2,
  .p-date-2 {
    font-size: 11px;
  }

  /* LIST 3 */
}

/* Smartphones (landscape) */
@media (max-width: 767px) {
  .container {
    margin: 8px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 690px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }

  /* HEADER STYLE */
  header > a {
    width: 350px;
    margin: 15px auto;
  }

  nav {
    width: 103%;
    height: 50px;
    background-color: #c58940;
    margin-bottom: 6px;
  }

  nav ul {
    justify-content: center;
    gap: 8px;
  }

  .bd-left {
    display: inline-block;
    width: 2px;
    height: 18px;
    background-color: #825a2a;
  }

  nav ul li a {
    padding: 8px 30px;
    font-size: 18px;
    border-radius: 20px;
  }

  nav ul li a:hover,
  nav li > a.active {
    background-color: #825a2a;
    border: none;
  }

  /* MAIN STYLE */
  main {
    margin-bottom: 25px;
  }

  .information {
    margin: 24px 4px -20px;
    padding: 6px;
  }

  .information img {
    width: 10px;
    height: auto;
  }

  .information p {
    font-size: 12px;
  }

  .project-column {
    border-radius: 20px;
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: 2px;
  }

  .project-header ul {
    height: 40px;
    border-radius: 20px;
    background-color: #000;
  }

  .p-name,
  .p-category,
  .p-date {
    color: #fff;
    line-height: 2.6;
    font-size: 15px;
  }

  .bd-left-col {
    display: none;
  }

  /* LIST OF A PROJECT (ADD NEW) */
  .project-list > a {
    padding: 10px 0;
    margin: 12px 0 0;
  }

  .project-list > a:hover {
    background-color: #fff;
  }

  /* LIST 1 */
  .p-name-1,
  .p-category-1,
  .p-date-1 {
    font-size: 12px;
  }

  .p-name-1 {
    flex-grow: 2.2;
  }

  .p-category-1 {
    flex-grow: 1;
  }

  .p-date-1 {
    flex-grow: 1.3;
  }

  /* LIST 2 */
  .p-name-2,
  .p-category-2,
  .p-date-2 {
    font-size: 12px;
  }

  .p-name-2 {
    flex-grow: 3.3;
  }

  .p-category-2 {
    flex-grow: 1.1;
  }

  .p-date-2 {
    flex-grow: 1.5;
  }

  /* LIST 3 */

  /* FOOTER STYLE */
  footer {
    margin-top: 30px;
    height: 45px;
  }

  footer p {
    font-size: 8px;
    line-height: 5;
  }
}

@media (max-width: 560px) {
  nav ul {
    gap: 3px;
  }

  nav ul li a {
    padding: 8px 26px;
    font-size: 18px;
    border-radius: 20px;
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container {
    width: 100vw;
    margin: 0;
  }

  body {
    height: 102vh;
  }

  /* HEADER STYLE */
  header {
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }

  header > a {
    margin: 12px auto;
    width: 220px;
  }

  nav {
    display: inline-block;
    width: 103%;
    height: 40px;
    background-color: #c58940;
    margin-bottom: 6px;
  }

  nav ul {
    justify-content: center;
    gap: 6px;
  }

  .bd-left {
    display: inline-block;
    width: 2px;
    height: 18px;
    background-color: #825a2a;
  }

  nav ul li a {
    padding: 6px 16px;
    font-size: 14px;
    border-radius: 20px;
  }

  nav ul li a:hover,
  nav li > a.active {
    background-color: #825a2a;
    border: none;
  }

  /* MAIN STYLE */
  main {
    margin-bottom: 25px;
  }

  .information {
    margin: 16px 5px -18px;
    padding: 6px;
  }

  .information img {
    width: 10px;
    height: auto;
  }

  .information p {
    font-size: 12px;
  }

  .project-column {
    border-radius: 20px;
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: 2px;
  }

  .undername-style h1 {
    font-size: 28px;
  }

  .undername {
    width: 235px;
    height: 20px;
    top: 20px;
    left: 26px;
  }

  .project-header ul {
    height: 35px;
    border-radius: 20px;
    background-color: #000;
  }

  .p-name,
  .p-category,
  .p-date {
    color: #fff;
    line-height: 2.4;
    font-size: 14px;
  }

  .bd-left-col {
    display: none;
  }

  /* LIST OF A PROJECT (ADD NEW) */
  .project-list > a {
    padding: 10px 0;
    margin: 10px 0 0;
  }

  .project-list > a:hover {
    background-color: #fff;
  }

  /* LIST 1 */
  .p-name-1,
  .p-category-1,
  .p-date-1 {
    font-size: 12px;
  }

  .p-name-1 {
    flex-grow: 1.7;
  }

  .p-category-1 {
    flex-grow: 1.3;
  }

  .p-date-1 {
    flex-grow: 1.3;
  }

  /* LIST 2 */
  .p-name-2,
  .p-category-2,
  .p-date-2 {
    font-size: 12px;
  }

  .p-name-2 {
    flex-grow: 3.2;
  }

  .p-category-2 {
    flex-grow: 1.4;
  }

  .p-date-2 {
    flex-grow: 1.5;
  }

  /* LIST 3 */

  /* FOOTER STYLE */
  footer {
    margin-top: 30px;
    height: 50px;
    width: 101vw;
  }

  footer p {
    line-height: 4.5;
  }
}

@media (max-width: 370px) {
  /* HEADER STYLE */
  nav ul {
    gap: 4px;
  }

  nav ul li a {
    padding: 6px 12px;
    font-size: 14px;
  }
}

@media (max-width: 319px) {
  /* HEADER STYLE */
  .undername-style {
    width: 100%;
  }

  header {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  header > a {
    margin: 10px auto;
    width: 220px;
  }

  nav {
    display: inline-block;
    width: 103%;
    height: 30px;
    background-color: #c58940;
    margin-bottom: 6px;
  }

  nav ul {
    justify-content: center;
    gap: 4px;
  }

  .bd-left {
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #825a2a;
  }

  nav ul li a {
    padding: 6px 12px;
    font-size: 10px;
    border-radius: 20px;
  }

  nav ul li a:hover,
  nav li > a.active {
    background-color: #825a2a;
    border: none;
  }

  /* MAIN STYLE */
  main {
    margin-bottom: 25px;
  }

  .information {
    margin: 12px 0 -22px;
    padding: 6px;
  }

  .information img {
    width: 8px;
    height: auto;
  }

  .information p {
    font-size: 8px;
  }

  .project-column {
    border-radius: 20px;
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: 2px;
  }

  .undername-style {
    width: fit-content;
    margin: 25px auto;
    position: relative;
  }

  .undername-style h1 {
    font-size: 22px;
    text-align: center;
  }

  .undername {
    width: 182px;
    height: 15px;
    top: 16px;
    left: 22px;
  }

  .project-header ul {
    height: 30px;
    border-radius: 20px;
    background-color: #000;
  }

  .p-name,
  .p-category,
  .p-date {
    color: #fff;
    line-height: 2.3;
    font-size: 12px;
  }

  .bd-left-col {
    display: none;
  }

  /* LIST OF A PROJECT (ADD NEW) */
  .project-list > a {
    padding: 8px 0;
    margin: 10px 0 0;
  }

  .project-list > a:hover {
    background-color: #fff;
  }

  /* LIST 1 */
  .p-name-1,
  .p-category-1,
  .p-date-1 {
    font-size: 10px;
  }

  .p-name-1 {
    flex-grow: 0.7;
  }

  .p-category-1 {
    flex-grow: 1;
  }

  /* LIST 2 */
  .p-name-2,
  .p-category-2,
  .p-date-2 {
    font-size: 10px;
  }

  .p-name-2 {
    flex-grow: 1.9;
  }

  .p-category-2 {
    flex-grow: 0.8;
  }

  /* LIST 3 */



  /* FOOTER STYLE */
  footer{
    margin-top: 30px;
  }

  footer p {
    font-size: 8px;
    line-height: 3.8;
  }
}

@media (max-width: 264px) {
  /* HEADER STYLE */
  header {
    gap: 8px;
  }

  header > a {
    width: 180px;
    margin-left: 0 auto;
  }

  nav ul {
    gap: 1px;
  }

  .bd-left {
    height: 10px;
  }

  nav ul li a {
    padding: 6px 8px;
    font-size: 9px;
  }

  /* MAIN STYLE */
  main {
    margin-bottom: 25px;
  }

  .undername-style h1 {
    font-size: 18px;
  }

  .undername {
    width: 150px;
    height: 15px;
    top: 12px;
    left: 16px;
  }

  .project-header ul {
    height: 25px;
  }

  .p-name,
  .p-category,
  .p-date {
    color: #fff;
    line-height: 3;
    font-size: 8px;
  }

  /* LIST OF A PROJECT (ADD NEW) */
  .project-list > a {
    padding: 6px 0;
    margin: 8px 0 0;
  }

  .project-list > a:hover {
    background-color: #fff;
  }

  /* LIST 1 */
  .p-name-1,
  .p-category-1,
  .p-date-1 {
    font-size: 8px;
  }

  /* LIST 2 */
  .p-name-2,
  .p-category-2,
  .p-date-2 {
    font-size: 8px;
  }

  /* LIST 3 */



  /* FOOTER STYLE */
  footer {
    margin-top: 30px;
  }

  footer p {
    font-size: 8px;
    line-height: 3.8;
  }
}